.container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.section {
  width: 50%;
  text-align: center;
}

.title {
  font-size: 48px;
  margin: 0;
}

p {
  font-size: 24px;
  font-family: var(--secundary);
  font-style: italic;
  padding: 0;
}



.link {
  padding: 10px 20px;
  margin: 20px 5px;
  background-color: var(--blue);
  border-radius: 10px;
  border: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: var(--secundary);
}


img {
  width: 100%;
}